<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find urdf_right_with_force_sensor)/urdf/urdf_right_with_force_sensor.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find urdf_right_with_force_sensor)/rviz/111.rviz" />
</launch>
